{{ ansible_managed | comment }}

[global]
workgroup = {{ auth_sssd_netbios_domain | default(auth_sssd_domain.split('.')[0]|upper) }}
realm = {{ auth_sssd_domain|upper }}
kerberos method = secrets and  keytab
security = ads
client signing = yes
client use spnego = yes
